
		
		@font-face {
			font-family: 'Mont_bold';
			src: url('https://github.com/DmTs34/DCpedia/blob/master/fonts/Mont_bold.eot?raw=true');/* This doesn't work - IE9 Compat Modes */
			src: url('https://www.hubersuhner.com/sprinx/fonts/39EC6C_1_0.woff2') format('woff2'),/* Super Modern Browsers */
				 url('https://github.com/DmTs34/DCpedia/blob/master/fonts/Mont_bold.eot?#iefix') format('embedded-opentype'); /* This doesn't work - IE6-IE8 */
		  }
		  @font-face {
			font-family: 'Mont';
			src: url('https://github.com/DmTs34/DCpedia/blob/master/fonts/Mont.eot?raw=true');/* This doesn't work - IE9 Compat Modes */
			src:  url('https://www.hubersuhner.com/sprinx/fonts/39EC6C_0_0.woff2') format('woff2'),/* Super Modern Browsers */
				  url('https://github.com/DmTs34/DCpedia/blob/master/fonts/Mont.eot?#iefix') format('embedded-opentype'); /* This doesn't work - IE6-IE8 */
		  }
		  /*          @font-face {
		  /*            font-family: 'MyWebFont';
		  /*            src: url('webfont.eot'); /* IE9 Compat Modes */
		  /*            src: url('webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
		  /*                 url('webfont.woff2') format('woff2'), /* Super Modern Browsers */
		  /*                 url('webfont.woff') format('woff'), /* Pretty Modern Browsers */
		  /*                 url('webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
		  /*                 url('webfont.svg#svgFontName') format('svg'); /* Legacy iOS */
		  /*          }*/
		  
		  
		  body{
			margin:0px; 
			padding:10px; 
			overflow:hidden;  
		  }
		  .paper_container{
			position: absolute;
			width:98%;
			height:98%;
			}
		  .html_container{
			position: absolute;
			width:98%;
			height:98%;
			pointer-events:none;
		  }
		  .paper_svg {    
			position: absolute;
			width:100%;
			height:100%;
		  /*   preserveAspectRatio:'xMidYMid meet'; */
		  }
		  .SVG-h1-white{
			font-family:Mont_bold;
			fill:white;
			font-size:30px;
			pointer-events: none;
			-webkit-user-select: none;
			-moz-user-select: none;
			-ms-user-select: none;
			user-select: none;
			stroke-width:0px
		  }
		  .SVG-h1-black{
			font-family:Mont_bold;
			fill:black;
			font-size:30px;
			pointer-events: none;
			-webkit-user-select: none;
			-moz-user-select: none;
			-ms-user-select: none;
			user-select: none;
			stroke-width:0px
		  }
		  
		  .Legend1 {
			font:27px serif; 
			fill: #706f6f;
			font-family: "Mont_bold"; 
			pointer-events: none;
			-webkit-user-select: none;
			-moz-user-select: none;
			-ms-user-select: none;
			user-select: none;
			stroke-width:0px
		  }
		  .Legend2 {
			font:27px serif; 
			fill: #706f6f;
			font-family: "Mont";
			pointer-events: none;
			-webkit-user-select: none;
			-moz-user-select: none;
			-ms-user-select: none;
			user-select: none;
		  }
		  .Legend3 {
			font:20px serif; 
			fill: black;
			opacity:0.8;
			font-family: "Mont";
			pointer-events: none;
			-webkit-user-select: none;
			-moz-user-select: none;
			-ms-user-select: none;
			user-select: none;
		  }
		  
		  .alt-cords-button:hover{
			fill:#F4511E
		  }
		  .Icon {
			cursor:pointer;
			fill:#82655c;
		  }
		  .Icon-background {
			fill:#82655c;
		  }
		  .Icon-selected {
			fill:#009a82;
		  }
		  .Icon:hover {
			fill: #009a82;
			transition: fill 0.5s; /* Animation */
		  }
		  
		  #toggle_button_svg_1 {
			font:27px serif; 
			fill: black;
			opacity:1;
			font-family: "Mont";
			-webkit-user-select: none;
			-moz-user-select: none;
			-ms-user-select: none;
			user-select: none;
		  }
		  svg
		  {background-color: white}

		.st1 {fill:#595959;stroke:#000000;stroke-linecap:round;stroke-linejoin:round;stroke-width:0.05}
		.st2 {fill:#bfbfbf;stroke-linecap:round;stroke-linejoin:round;stroke-width:0.03}
		.st3 {fill:none;stroke:#000000;stroke-linecap:round;stroke-linejoin:round;stroke-width:0.03;}
		.st4 {fill:#ffffff;font-family:Calibri;font-size:0.7em}
		.st5 {fill:#bfbfbf;stroke:#000000;stroke-linecap:round;stroke-linejoin:round;stroke-width:0.05}
		.st6 {fill:#d8d8d8;stroke:#000000;stroke-linecap:round;stroke-linejoin:round;stroke-width:0.05}
		.st7 {fill:#d8d8d8;stroke:none;stroke-linecap:round;stroke-linejoin:round;stroke-width:0.05}
		.st8 {fill:#000000;stroke:#7f7f7f;stroke-linecap:round;stroke-linejoin:round;stroke-width:0.05}
		.st9 {fill:#3f3f3f;stroke:#000000;stroke-linecap:round;stroke-linejoin:round;stroke-width:0.05}
		.st10 {fill:#d8d8d8;stroke:#7f7f7f;stroke-linecap:round;stroke-linejoin:round;stroke-width:0.05}
		.st11 {fill:#000000;stroke:none;stroke-linecap:round;stroke-linejoin:round;stroke-width:0.05}
		.st12 {fill:#595959;stroke:none;stroke-linecap:round;stroke-linejoin:round;stroke-width:0.05}
		.st13 {fill:#a5a5a5;stroke:#000000;stroke-linecap:round;stroke-linejoin:round;stroke-width:0.05}
		.st14 {fill:#7f7f7f;stroke:#000000;stroke-linecap:round;stroke-linejoin:round;stroke-width:0.05}
		.st15 {fill:none;stroke:#000000;stroke-linecap:round;stroke-linejoin:round;stroke-width:0.05}
		.st16 {fill:#1f477d;stroke:#000000;stroke-linecap:round;stroke-linejoin:round;stroke-width:0.05}
		.st17 {fill:#1f477d;fill-opacity:0.8;stroke:#000000;stroke-linecap:round;stroke-linejoin:round;stroke-width:0.05}
		.st18 {fill:#ffffff;stroke:none;stroke-linecap:round;stroke-linejoin:round;stroke-width:0.75}
		.st19 {fill:none;stroke-linecap:round;stroke-linejoin:round;stroke-width:0.0360593}
		.st20 {fill:none;stroke:#262626;stroke-width:0.75}
		.st21 {fill:none; stroke:#262626;stroke-width:0.923118}
		.st22 {fill:none; fill-rule:evenodd;font-size:12px;overflow:visible;stroke-linecap:square;stroke-miterlimit:3}